<h1>Welcome <%=@user.username%></h1>

<form action="<%= user_subs_url(@user) %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <label> Title
     <input type="text" name="sub[title]" value="">
  </label>

  <label> Description
     <input type="textarea" name="sub[description]" value="">
  </label>

  <input type="submit" value="Make a New Sub">Make a New Sub

</form>
<!-- # <%%> <%=%> -->
<ul>
<% current_user.subs.each do |sub| %>
   <li> Title: <%= sub.title %> <br> description: <%= sub.description %> </li>
   <br>
<% end %>
</ul>

