<h2>Band show page</h2>
<p><%= @band.name %></p>

<h2>Albums</h2>

<% @band.albums.each do |album| %>
  <ul>
    <li><%= album.title %></li>
    <li><%= album.year %></li>
    <li><%= album.live %></li>
  </ul>
  <br>
<% end %>


<a href="<%= new_band_album_url(band_id: @band.id) %>">Create an album</a>



<form action="<%= band_url(@band) %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
  <input type="submit" value="Delete Band">
</form>