<ul>
  
        <li> <%= @cat.name%> </li>
        <li> <%= @cat.age%> </li>
        <li> <%= @cat.color%> </li>
        <li> <%= @cat.sex%> </li>
        <li> <%= @cat.discription%> </li>
</ul>